.alert-error a {text-decoration: underline;}
.table.center-aligned td{
  text-align: center;
  vertical-align: middle;
}
.flickr-flash .close {display: none;}
.asset{
  &-item{
    border-bottom: 1px dotted #dddddd;
    padding-bottom: 20px;
    margin-bottom: 20px
  }
  &-list {
    .asset-content{
      position: relative;
      img{max-width: 150px;}
    }
  }
  &-actions i{cursor: pointer;}
}
.float-right{float:right;}
.bold{font-weight: bold;}