.alert-error a {
  text-decoration: underline; }

.table.center-aligned td {
  text-align: center;
  vertical-align: middle; }

.flickr-flash .close {
  display: none; }

.asset-item {
  border-bottom: 1px dotted #dddddd;
  padding-bottom: 20px;
  margin-bottom: 20px; }
.asset-list .asset-content {
  position: relative; }
  .asset-list .asset-content img {
    max-width: 150px; }
.asset-actions i {
  cursor: pointer; }

.float-right {
  float: right; }

.bold {
  font-weight: bold; }

.account-masthead {
  background-color: #014f5e;
  border-bottom: 1px solid #00424d; }
  .account-masthead .account ul li {
    border-right: 1px solid #004049; }
    .account-masthead .account ul li a {
      color: #fff; }
      .account-masthead .account ul li a:hover {
        color: #24211a;
        background-color: #ede112; }
  .account-masthead .account.not-authed ul li a:hover {
    color: #ede112;
    background-color: #003942; }
  .account-masthead .account.not-authed ul li a.sub:hover {
    color: #24211a;
    background-color: #ede112; }

.masthead {
  background: #027779 url("../../../../dfmp/images/texture.png");
  background-image: url("../../../../dfmp/images/texture.png"), -moz-linear-gradient(left, #025e79 0%, #027779 100%);
  background-image: url("../../../../dfmp/images/texture.png"), -webkit-gradient(linear, left top, right top, color-stop(0%, #025e79), color-stop(100%, #027779));
  background-image: url("../../../../dfmp/images/texture.png"), -webkit-linear-gradient(left, #025e79 0%, #027779 100%);
  background-image: url("../../../../dfmp/images/texture.png"), -o-linear-gradient(left, #025e79 0%, #027779 100%);
  background-image: url("../../../../dfmp/images/texture.png"), -ms-linear-gradient(left, #025e79 0%, #027779 100%);
  background-image: url("../../../../dfmp/images/texture.png"), linear-gradient(to right, #025e79 0%, #027779 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$a', endColorstr='$b',GradientType=1 ); }
  .masthead .header-image {
    margin: 20px 0;
    position: relative; }
  .masthead .header-image, .masthead .content {
    display: inline-block; }
  .masthead .content {
    position: absolute;
    top: 40px; }
  .masthead .site-search input {
    width: 170px; }
  .masthead .navigation .nav-pills li a {
    font-weight: bold;
    font-size: 14px; }
  .masthead .navigation .nav-pills li.active a, .masthead .navigation .nav-pills li:hover a {
    color: #ede112;
    background-color: #027072; }

.homepage .box {
  background: none;
  border: 1px solid #adb3c1;
  border-radius: 2px;
  box-shadow: none; }
.homepage, .homepage [role=main] {
  background: #e3e8ed url("../../../../dfmp/images/gray.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
.homepage .hero {
  background: url("../../../../dfmp/images/home-background.png");
    background-repeat: no-repeat;
    background-size: 100% auto; }
.homepage .module-search .module-content .search-giant input {
  line-height: 1.5; }
.homepage .module-search .module-content .heading {
  margin-bottom: 3px; }
.homepage.layout-2 #map-canvas {
  background-color: #ffffff; }
.homepage.layout-2 .with-top-margin {
  margin-top: 20px; }
.homepage.layout-2 #latest_asset_infowindow .infowindow_image {
  max-height: 145px;
  overflow: hidden; }
.homepage.layout-2 #latest_asset_infowindow p {
  margin: 0;
  text-align: justify; }
.homepage.layout-2 #latest_asset_infowindow h4 {
  margin: 0; }
.homepage.layout-2 #asset_spatial {
  overflow: hidden; }
.homepage.layout-2 .recent_numbers .col1,
.homepage.layout-2 .recent_numbers .col2 {
  width: 50%;
  float: left;
  margin: 0;
  text-align: center; }
  .homepage.layout-2 .recent_numbers .col1 .number_value,
  .homepage.layout-2 .recent_numbers .col2 .number_value {
    color: #005d7a;
    font-size: 40px;
    line-height: 45px;
    font-family: "Times New Roman", Georgia, Serif; }
.homepage.layout-2 .span12 header {
  width: 43%;
  float: left;
  background: #fff;
  padding: 0 20px; }
.homepage.layout-2 .span12 header, .homepage.layout-2 .span12 img {
  height: 162px; }
.homepage.layout-2 .span12 .module-content:last-child {
  padding: 0; }
.homepage.layout-2 .span12 .module-content.box, .homepage.layout-2 .span12 .module-content .featured {
  background: none;
  border: none; }
.homepage.layout-2 .span12 .media-image {
  float: right; }
.homepage.layout-2 .stats {
  margin-top: 0; }
  .homepage.layout-2 .stats table {
    width: 100%; }
  .homepage.layout-2 .stats td {
    float: none;
    text-align: center;
    position: relative; }
    .homepage.layout-2 .stats td:nth-child(1) a b {
      background: #ede112;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .homepage.layout-2 .stats td:nth-child(2) a b {
      background: #edc112; }
    .homepage.layout-2 .stats td:nth-child(3) a b {
      background: #eda712; }
    .homepage.layout-2 .stats td:nth-child(4) a b {
      background: #ed8e12;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    .homepage.layout-2 .stats td a {
      text-align: center;
      color: #ede112;
      text-transform: uppercase;
      font-size: 13px; }
      .homepage.layout-2 .stats td a:hover {
        text-decoration: none; }
      .homepage.layout-2 .stats td a b {
        position: absolute;
        top: 0;
        width: 100%;
        font-size: 35px;
        display: block;
        padding: 2px;
        margin-bottom: 20px;
        margin-left: -4px;
        line-height: 1.5; }
      .homepage.layout-2 .stats td a span {
        color: #1e1f21; }
      .homepage.layout-2 .stats td a .stat-type-name {
        color: #ede112;
        position: relative;
        top: 65px; }
.homepage.layout-2 .home-top-row {
  background: rgba(23, 58, 69, 0.9);
  margin: 60px 0 40px 20px;
  position: relative;
  border-radius: 3px; }
  .homepage.layout-2 .home-top-row .col-left, .homepage.layout-2 .home-top-row .col-right {
    width: 50%;
    display: inline-block; }
    .homepage.layout-2 .home-top-row .col-left .box, .homepage.layout-2 .home-top-row .col-left .tags, .homepage.layout-2 .home-top-row .col-left .module-search .module-content, .homepage.layout-2 .home-top-row .col-right .box, .homepage.layout-2 .home-top-row .col-right .tags, .homepage.layout-2 .home-top-row .col-right .module-search .module-content {
      background: none;
      border: none;
      box-shadow: none; }
      .homepage.layout-2 .home-top-row .col-left .box h3, .homepage.layout-2 .home-top-row .col-left .tags h3, .homepage.layout-2 .home-top-row .col-left .module-search .module-content h3, .homepage.layout-2 .home-top-row .col-right .box h3, .homepage.layout-2 .home-top-row .col-right .tags h3, .homepage.layout-2 .home-top-row .col-right .module-search .module-content h3 {
        color: #fff; }
  .homepage.layout-2 .home-top-row .col-right {
    position: absolute;
    right: 0; }
    .homepage.layout-2 .home-top-row .col-right .box .inner {
      padding: 20px 10px; }

.asset-content .asset-info-holder {
  margin-left: 161px;
  min-height: 100px; }
  .asset-content .asset-info-holder h3 {
    margin-bottom: 0;
    text-transform: capitalize; }
  .asset-content .asset-info-holder .meta-date-lic {
    color: #056c7f; }
  .asset-content .asset-info-holder .well {
    background: none;
    padding: 20px 0 0;
    box-shadow: none; }
.asset-content .thumb-holder {
  float: left;
  max-height: 120px;
  overflow: hidden; }

.recline-data-explorer {
  background: #fff; }
  .recline-data-explorer .well, .recline-data-explorer .well a {
    background: #fff; }
  .recline-data-explorer .recline-slickgrid .slick-header-columns .slick-header-column {
    color: #fff;
    background: #01525e;
    text-shadow: none; }
  .recline-data-explorer .ui-widget-content.slick-row.odd {
    background-color: #e4f2f4; }
  .recline-data-explorer .slick-cell a {
    color: #056c7f; }
  .recline-data-explorer .btn, .recline-data-explorer .recline-pager a {
    border: 1px solid #005e62;
    color: #fff;
    background: #027f98 url("../../../../dfmp/images/texture.png");
    background-image: url("../../../../dfmp/images/texture.png"), -moz-linear-gradient(bottom, #046574 0%, #027f98 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -webkit-gradient(linear, bottom top, top top, color-stop(0%, #046574), color-stop(100%, #027f98));
    background-image: url("../../../../dfmp/images/texture.png"), -webkit-linear-gradient(bottom, #046574 0%, #027f98 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -o-linear-gradient(bottom, #046574 0%, #027f98 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -ms-linear-gradient(bottom, #046574 0%, #027f98 100%);
    background-image: url("../../../../dfmp/images/texture.png"), linear-gradient(to top, #046574 0%, #027f98 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$a', endColorstr='$b',GradientType=1 ); }
    .recline-data-explorer .btn.active, .recline-data-explorer .btn:hover, .recline-data-explorer .btn-primary:hover, .recline-data-explorer .btn-primary:focus, .recline-data-explorer .btn-group.open .btn-primary.dropdown-toggle, .btn-group.open .recline-data-explorer .btn-primary.dropdown-toggle, .recline-data-explorer .btn-success:hover, .recline-data-explorer .btn-success:focus, .recline-data-explorer .btn-group.open .btn-success.dropdown-toggle, .btn-group.open .recline-data-explorer .btn-success.dropdown-toggle, .recline-data-explorer .dropdown-menu li a:hover, .dropdown-menu li .recline-data-explorer a:hover, .recline-data-explorer .dropdown-menu li a:focus, .dropdown-menu li .recline-data-explorer a:focus, .recline-data-explorer .dropdown-submenu:hover a, .dropdown-submenu:hover .recline-data-explorer a, .recline-data-explorer .dropdown-submenu:focus a, .dropdown-submenu:focus .recline-data-explorer a, .recline-data-explorer .recline-pager a.active, .recline-data-explorer .recline-pager a:hover {
      background: #01525e;
      color: #ede112; }
  .recline-data-explorer .add-on {
    background-color: #fff; }

.site-footer {
  background: #18191b;
  border-top: 3px solid #027072;
  color: #fff; }
  .site-footer a, .site-footer label, .site-footer small {
    color: #fff; }
  .site-footer .footer-links {
    float: left;
    width: auto; }
  .site-footer .lang-select {
    float: right; }
  .site-footer .lang-container {
    margin-left: 20px; }
  .site-footer .footer-ckan-link, .site-footer .footer-logo {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    transition: background-image 0.5s; }
  .site-footer .footer-logo {
    left: 0;
    bottom: 10px;
    background-image: url("../../../../dfmp/images/full_logo_footer.png");
    height: 47px;
    width: 195px; }
    .site-footer .footer-logo:hover {
      background-image: url("../../../../dfmp/images/full_logo.png"); }
  .site-footer .attribution {
    float: right;
    width: auto; }
  .site-footer .footer-ckan-link {
    background-image: url("../../../../dfmp/images/ckan_logo_footer.png");
    display: inline-block;
    height: 24px;
    width: 70px;
    margin-left: 7px;
    top: -7px; }
    .site-footer .footer-ckan-link:hover {
      background-image: url("../../../../dfmp/images/ckan_logo.png"); }
  .site-footer label {
    font-weight: normal; }
  .site-footer ul {
    margin: 0 0 30px;
    width: auto; }
    .site-footer ul li {
      margin-right: 15px;
      display: inline; }

body {
  background: #18191b;
  font-family: Arial; }

.account-masthead {
  background-color: #014f5e;
  border-bottom: 1px solid #00424d; }
  .account-masthead .account ul li {
    border-right: 1px solid #004049; }
    .account-masthead .account ul li a {
      color: #fff; }
      .account-masthead .account ul li a:hover {
        color: #24211a;
        background-color: #ede112; }
  .account-masthead .account.not-authed ul li a:hover {
    color: #ede112;
    background-color: #003942; }

.homepage .module-search .module-content {
  background-color: #fff; }

.masthead {
  background: #027779 url("../../../../dfmp/images/texture.png");
  background-image: url("../../../../dfmp/images/texture.png"), -moz-linear-gradient(left, #025e79 0%, #027779 100%);
  background-image: url("../../../../dfmp/images/texture.png"), -webkit-gradient(linear, left top, right top, color-stop(0%, #025e79), color-stop(100%, #027779));
  background-image: url("../../../../dfmp/images/texture.png"), -webkit-linear-gradient(left, #025e79 0%, #027779 100%);
  background-image: url("../../../../dfmp/images/texture.png"), -o-linear-gradient(left, #025e79 0%, #027779 100%);
  background-image: url("../../../../dfmp/images/texture.png"), -ms-linear-gradient(left, #025e79 0%, #027779 100%);
  background-image: url("../../../../dfmp/images/texture.png"), linear-gradient(to right, #025e79 0%, #027779 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$a', endColorstr='$b',GradientType=1 ); }
  .masthead .header-image {
    margin: 20px 0;
    position: relative; }
  .masthead .header-image, .masthead .content {
    display: inline-block; }
  .masthead .content {
    position: absolute;
    top: 40px; }
  .masthead .site-search input {
    width: 170px; }
  .masthead .navigation .nav-pills li a {
    font-weight: bold;
    font-size: 14px; }
  .masthead .navigation .nav-pills li.active a, .masthead .navigation .nav-pills li:hover a {
    color: #ede112;
    background-color: #027072; }

[role=main], .main, .homepage {
  background: #e3e8ed; }
  [role=main] .primary, .main .primary, .homepage .primary {
    width: 719px; }
    [role=main] .primary .primary, .main .primary .primary, .homepage .primary .primary {
      width: 467px; }

h1, .toolbar .breadcrumb li a, h3, a, .dataset-heading a, .module .read-more, .editor .editor-info-block a {
  color: #056c7f; }

a:hover, a:focus {
  color: #ed8e12; }

.toolbar .breadcrumb li:after {
  color: #b8c3d1; }

.page-header {
  background-color: #01525e; }

.activity .item.changed-organization .icon, .activity .item.follow-group .icon, .activity .item.follow-dataset .icon, .activity .item.follow-user .icon, .activity .item.changed-group .icon, .activity .item.changed-package .icon, .activity .item.changed-package_extra .icon, .activity .item.changed-resource .icon, .activity .item.changed-user .icon {
  background-color: #ebc011; }
.activity .item.deleted-group .icon, .activity .item.deleted-package .icon, .activity .item.deleted-package_extra .icon, .activity .item.deleted-resource .icon, .activity .item.deleted-organization .icon, .activity .item.removed-tag .icon, .activity .item.deleted-related-item .icon {
  background-color: #8e9faa; }
.activity .item.added-tag .icon, .activity .item.new-group .icon, .activity .item.new-package .icon, .activity .item.new-package_extra .icon, .activity .item.new-user .icon, .activity .item.new-organization .icon, .activity .item.new-related-item .icon {
  background-color: #0992ad; }
.activity .item.new-resource .icon {
  background-color: #ed8e12; }

.context-info .nums {
  margin-top: 0; }
  .context-info .nums dl {
    text-align: center;
    margin: 5px 0px; }
    .context-info .nums dl:nth-child(odd) {
      background-color: #ed8e12;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .context-info .nums dl:nth-child(even) {
      background-color: #ede112;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }

.nav-tabs a {
  color: #ede112; }
.nav-tabs a:hover {
  color: #056c7f; }
.nav-tabs .active a, .nav-tabs .active a:hover, .nav-tabs .active a:focus {
  color: #056c7f; }

.nav li a:hover, .nav li a:focus {
  background-color: #ede112;
  color: #1e1f21; }

.icon-google-plus-sign, .icon-twitter-sign, .icon-facebook-sign {
  font-size: 17px; }
.icon-google-plus-sign {
  color: #D14129; }
.icon-twitter-sign {
  color: #06A8E9; }
.icon-facebook-sign {
  color: #3B5999; }

.media-grid {
  background-color: #01525e; }
.media-view:hover, .media-view.hovered {
  border-color: #ede112; }
.media-item .count-wrapper {
  text-align: center; }
  .media-item .count-wrapper strong, .media-item .count-wrapper span {
    display: block;
    border-radius: 3px; }
  .media-item .count-wrapper strong {
    background: #ede112 url("../../../../dfmp/images/texture.png");
    background-image: url("../../../../dfmp/images/texture.png"), -moz-linear-gradient(bottom, #e8d207 0%, #ede112 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -webkit-gradient(linear, bottom top, top top, color-stop(0%, #e8d207), color-stop(100%, #ede112));
    background-image: url("../../../../dfmp/images/texture.png"), -webkit-linear-gradient(bottom, #e8d207 0%, #ede112 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -o-linear-gradient(bottom, #e8d207 0%, #ede112 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -ms-linear-gradient(bottom, #e8d207 0%, #ede112 100%);
    background-image: url("../../../../dfmp/images/texture.png"), linear-gradient(to top, #e8d207 0%, #ede112 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$a', endColorstr='$b',GradientType=1 );
    border: 1px solid #e4c600; }
  .media-item .count-wrapper span {
    background: #e1e7ee;
    border: 1px solid #c4d2e3;
    color: #1e1f21; }

.well {
  border: none;
  background: #75abb3; }

.homepage .module-search .tags {
  background: #e3e8ed; }

.pill, .well a, .tags .tag {
  background-color: #ede112; }
  .pill, .pill:hover, .well a, .well a:hover, .tags .tag, .tags .tag:hover {
    border: none;
    box-shadow: none; }
  .pill:hover, .well a:hover, .tags .tag:hover {
    background-color: #ed8e12; }
  .pill, .pill a, .pill:hover, .pill a:hover, .well a, .well a a, .well a:hover, .well a a:hover, .tags .tag, .tags .tag a, .tags .tag:hover, .tags .tag a:hover {
    color: #1e1f21; }

.simple-input .field .btn-search, .search-form .search-input button i {
  color: #056c7f; }
  .simple-input .field .btn-search:hover, .search-form .search-input button i:hover {
    color: #ed8e12; }

.wrapper {
  box-shadow: none;
  border: none;
  background: #fff url("../../../../dfmp/images/nav.png") 0 0 repeat-y; }

.module > .module-content > small {
  display: block;
  text-align: center; }

.toolbar .breadcrumb {
  font-size: 20px; }

.icon-home:before {
  background-image: url("../../../../dfmp/images/home.png");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  width: 24px;
  height: 20px; }

.search-form h2 {
  color: #056c7f; }

#field-sitewide-search {
  border: none; }

input[type=text], .masthead input[type=text], input[type=password], .masthead input[type=password], select, .masthead select {
  border: 1px solid #e3e8ed;
  box-shadow: none; }

.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
  border-top-color: #1e1f21;
  border-bottom-color: #1e1f21; }

.btn {
  background: #ede112 url("../../../../dfmp/images/texture.png");
  background-image: url("../../../../dfmp/images/texture.png"), -moz-linear-gradient(bottom, #e8d207 0%, #ede112 100%);
  background-image: url("../../../../dfmp/images/texture.png"), -webkit-gradient(linear, bottom top, top top, color-stop(0%, #e8d207), color-stop(100%, #ede112));
  background-image: url("../../../../dfmp/images/texture.png"), -webkit-linear-gradient(bottom, #e8d207 0%, #ede112 100%);
  background-image: url("../../../../dfmp/images/texture.png"), -o-linear-gradient(bottom, #e8d207 0%, #ede112 100%);
  background-image: url("../../../../dfmp/images/texture.png"), -ms-linear-gradient(bottom, #e8d207 0%, #ede112 100%);
  background-image: url("../../../../dfmp/images/texture.png"), linear-gradient(to top, #e8d207 0%, #ede112 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$a', endColorstr='$b',GradientType=1 );
  border: 1px solid #e4c600;
  text-shadow: none;
  box-shadow: none;
  color: #1e1f21; }
  .btn:hover, .btn-primary:hover, .btn-primary:focus, .btn-group.open .btn-primary.dropdown-toggle, .btn-success:hover, .btn-success:focus, .btn-group.open .btn-success.dropdown-toggle, .dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-submenu:hover a, .dropdown-submenu:focus a, .btn.hover {
    color: #1e1f21;
    background: #eda712; }
  .btn-primary, .btn-success {
    width: 190px; }
  .btn-green, .btn[type=submit] {
    background: #0991ad url("../../../../dfmp/images/texture.png");
    background-image: url("../../../../dfmp/images/texture.png"), -moz-linear-gradient(bottom, #056e80 0%, #0991ad 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -webkit-gradient(linear, bottom top, top top, color-stop(0%, #056e80), color-stop(100%, #0991ad));
    background-image: url("../../../../dfmp/images/texture.png"), -webkit-linear-gradient(bottom, #056e80 0%, #0991ad 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -o-linear-gradient(bottom, #056e80 0%, #0991ad 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -ms-linear-gradient(bottom, #056e80 0%, #0991ad 100%);
    background-image: url("../../../../dfmp/images/texture.png"), linear-gradient(to top, #056e80 0%, #0991ad 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$a', endColorstr='$b',GradientType=1 );
    width: 190px;
    border: 1px solid #006274;
    color: white; }
    .btn-green:hover, .btn[type=submit]:hover, [type=submit].btn-primary:hover, [type=submit].btn-primary:focus, .btn-group.open [type=submit].btn-primary.dropdown-toggle, [type=submit].btn-success:hover, [type=submit].btn-success:focus, .btn-group.open [type=submit].btn-success.dropdown-toggle, .dropdown-menu li a[type=submit]:hover, .dropdown-menu li a[type=submit]:focus, .dropdown-submenu:hover a[type=submit], .dropdown-submenu:focus a[type=submit] {
      background: #007187; }
  .btn-danger {
    background: #AD0909 url("../../../../dfmp/images/texture.png");
    background-image: url("../../../../dfmp/images/texture.png"), -moz-linear-gradient(bottom, #800505 0%, #AD0909 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -webkit-gradient(linear, bottom top, top top, color-stop(0%, #800505), color-stop(100%, #AD0909));
    background-image: url("../../../../dfmp/images/texture.png"), -webkit-linear-gradient(bottom, #800505 0%, #AD0909 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -o-linear-gradient(bottom, #800505 0%, #AD0909 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -ms-linear-gradient(bottom, #800505 0%, #AD0909 100%);
    background-image: url("../../../../dfmp/images/texture.png"), linear-gradient(to top, #800505 0%, #AD0909 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$a', endColorstr='$b',GradientType=1 );
    border: 1px solid #870000; }
    .btn-danger:hover {
      background: #740000; }
    .btn-danger i, .btn-danger i:hover {
      color: white; }
  .secondary .btn {
    width: 100%;
    box-sizing: border-box; }

.module .pagination {
  padding-top: 20px; }
  .module .pagination ul {
    border-radius: 3px;
    border: 1px solid #ccd4dc; }
    .module .pagination ul li a {
      border-left: 1px solid #ccd4dc;
      border-right: none; }
    .module .pagination ul li a:hover {
      background: none;
      color: #056c7f; }
    .module .pagination ul li:first-child a {
      border-left: none; }
    .module .pagination ul li.active a {
      border-left: 1px solid #056c7f;
      border-right: 1px solid #056c7f;
      background-color: #056c7f;
      color: #fff; }

.secondary, .tertiary {
  background-color: #f5f8fb; }
  .secondary .module-heading, .tertiary .module-heading {
    background-color: transparent;
    color: #056c7f;
    text-transform: uppercase;
    border-top: none;
    border-bottom: 1px solid #0992ad; }
  .secondary .nav-facet .nav-item.active a:before, .tertiary .nav-facet .nav-item.active a:before {
    background-image: url("../../../../dfmp/images/nav-active.png"); }
  .secondary .nav-facet .nav-item a:hover:after, .secondary .nav-facet .nav-item.active a:after, .tertiary .nav-facet .nav-item a:hover:after, .tertiary .nav-facet .nav-item.active a:after {
    background-image: url("../../../../dfmp/images/sprite-ckan-icons.png"); }
  .secondary .nav-facet .nav-item.active a, .secondary .nav-facet .nav-item a:hover, .secondary .nav-facet .nav-item a:focus, .tertiary .nav-facet .nav-item.active a, .tertiary .nav-facet .nav-item a:hover, .tertiary .nav-facet .nav-item a:focus {
    background-color: #ede112;
    color: #1e1f21; }
  .secondary .nav-item.active a, .secondary .nav-aside li.active a, .tertiary .nav-item.active a, .tertiary .nav-aside li.active a {
    background-color: #027f98; }
    .secondary .nav-item.active a:hover, .secondary .nav-aside li.active a:hover, .tertiary .nav-item.active a:hover, .tertiary .nav-aside li.active a:hover {
      color: #fff; }

.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th, .table-bordered tbody tr:nth-child(even) td, .table-bordered tbody tr:nth-child(even) th {
  background-color: #e4f2f4; }

.table a {
  color: #056c7f; }

thead th, .table-header thead th {
  color: #fff;
  background: #01525e;
  text-shadow: none; }

.recline-data-explorer {
  background: #fff; }
  .recline-data-explorer .well, .recline-data-explorer .well a {
    background: #fff; }
  .recline-data-explorer .recline-slickgrid .slick-header-columns .slick-header-column {
    color: #fff;
    background: #01525e;
    text-shadow: none; }
  .recline-data-explorer .ui-widget-content.slick-row.odd {
    background-color: #e4f2f4; }
  .recline-data-explorer .slick-cell a {
    color: #056c7f; }
  .recline-data-explorer .btn, .recline-data-explorer .recline-pager a {
    border: 1px solid #005e62;
    color: #fff;
    background: #027f98 url("../../../../dfmp/images/texture.png");
    background-image: url("../../../../dfmp/images/texture.png"), -moz-linear-gradient(bottom, #046574 0%, #027f98 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -webkit-gradient(linear, bottom top, top top, color-stop(0%, #046574), color-stop(100%, #027f98));
    background-image: url("../../../../dfmp/images/texture.png"), -webkit-linear-gradient(bottom, #046574 0%, #027f98 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -o-linear-gradient(bottom, #046574 0%, #027f98 100%);
    background-image: url("../../../../dfmp/images/texture.png"), -ms-linear-gradient(bottom, #046574 0%, #027f98 100%);
    background-image: url("../../../../dfmp/images/texture.png"), linear-gradient(to top, #046574 0%, #027f98 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$a', endColorstr='$b',GradientType=1 ); }
    .recline-data-explorer .btn.active, .recline-data-explorer .btn:hover, .recline-data-explorer .btn-primary:hover, .recline-data-explorer .btn-primary:focus, .recline-data-explorer .btn-group.open .btn-primary.dropdown-toggle, .btn-group.open .recline-data-explorer .btn-primary.dropdown-toggle, .recline-data-explorer .btn-success:hover, .recline-data-explorer .btn-success:focus, .recline-data-explorer .btn-group.open .btn-success.dropdown-toggle, .btn-group.open .recline-data-explorer .btn-success.dropdown-toggle, .recline-data-explorer .dropdown-menu li a:hover, .dropdown-menu li .recline-data-explorer a:hover, .recline-data-explorer .dropdown-menu li a:focus, .dropdown-menu li .recline-data-explorer a:focus, .recline-data-explorer .dropdown-submenu:hover a, .dropdown-submenu:hover .recline-data-explorer a, .recline-data-explorer .dropdown-submenu:focus a, .dropdown-submenu:focus .recline-data-explorer a, .recline-data-explorer .recline-pager a.active, .recline-data-explorer .recline-pager a:hover {
      background: #01525e;
      color: #ede112; }
  .recline-data-explorer .add-on {
    background-color: #fff; }

.site-footer {
  background: #18191b;
  border-top: 3px solid #027072;
  color: #fff; }
  .site-footer a, .site-footer label, .site-footer small {
    color: #fff; }
  .site-footer .footer-links {
    float: left;
    width: auto; }
  .site-footer .lang-select {
    float: right; }
  .site-footer .lang-container {
    margin-left: 20px; }
  .site-footer .footer-ckan-link, .site-footer .footer-logo {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    transition: background-image 0.5s; }
  .site-footer .footer-logo {
    left: 0;
    bottom: 10px;
    background-image: url("../../../../dfmp/images/full_logo_footer.png");
    height: 47px;
    width: 195px; }
    .site-footer .footer-logo:hover {
      background-image: url("../../../../dfmp/images/full_logo.png"); }
  .site-footer .attribution {
    float: right;
    width: auto; }
  .site-footer .footer-ckan-link {
    background-image: url("../../../../dfmp/images/ckan_logo_footer.png");
    display: inline-block;
    height: 24px;
    width: 70px;
    margin-left: 7px;
    top: -7px; }
    .site-footer .footer-ckan-link:hover {
      background-image: url("../../../../dfmp/images/ckan_logo.png"); }
  .site-footer label {
    font-weight: normal; }
  .site-footer ul {
    margin: 0 0 30px;
    width: auto; }
    .site-footer ul li {
      margin-right: 15px;
      display: inline; }

/*# sourceMappingURL=dfmp.css.map */
