@import "custom";
$bw: 1px solid;
$top_bar: #2693ac;
$account_action_border: $bw #004049;
$top_bar_border: $bw #00424d;
$login_text: #ede112;
$login_back: #003942;
$register_text: #24211a;
$register_back: #eda712;
$nav_active_text: #ede112;
$nav_active_back: #027072;
$nav_font_size: 14px;
$masthead_back: #09667c url("../../../../dfmp/images/texture.png");
$main_back: #e3e8ed;
$green_text: #056c7f;
$btn_back: #ede112;
$sidebar_back: #f5f8fb;
$footer_back: #18191b;
$footer_border: 3px solid #027072;

body{background: $footer_back;}
.account-masthead{background-color: $top_bar;border-bottom: $top_bar_border;
  .account{
    &.not-authed ul{border-left: $account_action_border;border-right: $account_action_border;
      li{border:none;
        a{color:$login_text;background-color:$login_back;
          &.sub{color:$register_text;background-color: $register_back;
          }
        }
      }
    }
  }
}
.masthead {background: $masthead_back;
  .header-image{margin: 20px 0;}
  .header-image, .content {display: inline-block; position: relative}
  .site-search input{width: 170px;}
  .navigation .nav-pills{
    li{
      a{font-weight: bold;font-size: $nav_font_size;}
      &.active a, &:hover a{color: $nav_active_text;background-color: $nav_active_back;}
    }
  }
}
[role=main], .main{background: $main_back;}
h1{color:$green_text;}
.toolbar .breadcrumb{
  li{
    &:after{color: #b8c3d1;}
    a{@extend h1;}
  }
}
.wrapper{box-shadow:none; border:none;}
.btn, .btn:hover{background: $btn_back;border: none;text-shadow: none; width: 170px;}
.secondary{background-color: $sidebar_back;
  .module-heading{background-color: transparent;
    border:{
      top:none;
      bottom: $bw #0992ad;
    }
  }
}
.site-footer{background: $footer_back; border-top: $footer_border;
  .footer-links{float:left;}
  .lang{
    &-select{float:right;}
    &-container{margin-left: 20px;}
  }
  .footer-logo{position: absolute; left: 0; bottom: 10px; background: url("../../../../dfmp/images/full_logo.png") no-repeat;background-size: contain; height: 45px; width: 179px;}
  // .footer-logo{position: absolute; left: 0; bottom: 10px; background: url("../../../../dfmp/images/cbr_logo.png") no-repeat;background-size: contain; height: 45px; width: 79px;}
  // .footer-dfmp{position: absolute; left: 89px; background: url("../../../../dfmp/images/dfmp.png") no-repeat;background-size: contain; height: 34px; width: 107px;}
  .attribution{float:right; width:auto;}
  .footer-ckan-link{background: url("../../../../dfmp/images/ckan_logo.png"); display: inline-block; height: 24px; width: 70px;margin-left:7px; position: absolute;  top: -7px;}
  label{font-weight: normal;}
  ul{margin:0 0 30px; width:auto;
    li{margin-right:15px; display:inline;}
  }
}
