.site-footer {
    background: $footer_back;
    border-top: $footer_border;
    color: #fff;
    a, label, small {
        color: #fff;
    }
    a:hover{
        color:$footer_link_hover;
        text-decoration: none;
    }
    .footer-links {
        float: left;
        width: auto;
    }
    .lang {
        &-select {
            float: right;
        }
        &-container {
            margin-left: 20px;
        }
    }
    .footer-ckan-link, .footer-logo {
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        transition: background-image 0.5s;
    }
    .footer-logo {
        left: 0;
        bottom: 10px;
        background-image: $flf_image;
        height: 47px;
        width: 195px;
    }

    .attribution {
        float: right;
        width: auto;
    }
    .footer-ckan-link {
        background-image: $clf_image;
        display: inline-block;
        height: 24px;
        width: 70px;
        margin-left: 7px;
        top: -7px;
    }
    label {
        font-weight: normal;
    }
    ul {
        margin: 0 0 30px;
        width: auto;
        li {
            margin-right: 15px;
            display: inline;
        }
    }
}
// .site-footer:after{
//    content: "xcv";
//     position: absolute;
//     top: -5px;
//     bottom: 1px;
//     left: 1px;
//     width: 5px;
//     background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(transparent));
//     background-image: -webkit-linear-gradient(#ff0000, transparent);
//     background-image: -moz-linear-gradient(#ff0000, transparent);
//     background-image: -o-linear-gradient(#ff0000, transparent);
//     background-image: linear-gradient(#ff0000, transparent);
// }