@mixin masthead_gradient($gf, $gt, $a, $b, $img:$masthead_back) {
    background: $b $img;
    background-image: $img, -moz-linear-gradient($gf, $a 0%, $b 100%);
    background-image: $img, -webkit-gradient(linear, $gf top, $gt top, color-stop(0%, $a), color-stop(100%, $b));
    background-image: $img, -webkit-linear-gradient($gf, $a 0%, $b 100%);
    background-image: $img, -o-linear-gradient($gf, $a 0%, $b 100%);
    background-image: $img, -ms-linear-gradient($gf, $a 0%, $b 100%);
    background-image: $img, linear-gradient(to $gt, $a 0%, $b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$a', endColorstr='$b',GradientType=1 );
}

@mixin resample{
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}