$bw: 1px solid;
$account_action_border: $bw #004049;
$top_bar_border: $bw #00424d;
$footer_border: 3px solid #027072;

$breadcrumb_font_size: 20px;
$nav_font_size: 14px;

$top_bar: #014f5e;
$login_back: #003942;
$register_text: #24211a;
$register_back: #ede112;
$nav_active_text: #ede112;
$nav_active_back: #027072;
$yellow: #ede112;
$dark_yellow:#edc112;
$light_orange:#eda712;
$orange: #ed8e12;
$gray: #e3e8ed;
$dark_gray: #ccd4dc;
$green: #056c7f;
$sidebar_back: #f5f8fb;
$footer_back: #18191b;
$black: #1e1f21;
$blue:#027f98 ;
$light_green:#75abb3;
$masthead_gradient_from: #025e79;
$masthead_gradient_to: #027779;
$ybtn_gf: #e8d207;
$ybtn_gt: #ede112;
$ybtn_h: #eda712;
$ybtn_b: #e4c600;
$gbtn_gf: #056e80;
$gbtn_gt: #0991ad;
$gbtn_h: #007187;
$gbtn_b: #006274;
$dark_green:#01525e;
$created:#0992ad;
$updated:#ebc011;
$added:#ed8e12;
$deleted:#8e9faa;
$dbtn_c:#e1e7ee;
$dbtn_b:#c4d2e3;
$rbtn_gf:#800505;
$rbtn_gt:#AD0909;
$rbtn_b:#870000;
$rbtn_h:#740000;
$tb_row:#01525e;
$ta_row:#e4f2f4;
$t_a:#056c7f;
$rec_b:#005e62;
$rec_bf:#046574;

$home_image: url("../../../../dfmp/images/home.png");
$nav_image: url("../../../../dfmp/images/nav.png");
$flf_image: url("../../../../dfmp/images/full_logo_footer.png");
$fl_image: url("../../../../dfmp/images/full_logo.png");
$clf_image: url("../../../../dfmp/images/ckan_logo_footer.png");
$cl_image: url("../../../../dfmp/images/ckan_logo.png");
$sprite_icons: url("../../../../dfmp/images/sprite-ckan-icons.png");
$masthead_back: url("../../../../dfmp/images/texture.png");
$nav_active_after: url("../../../../dfmp/images/nav-active.png");
$home_back: url("../../../../dfmp/images/home-background.png");
$gray_back: url("../../../../dfmp/images/gray.png");