{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% resource 'dfmp/vendor/fancybox/jquery.fancybox-1.3.4.css' %}
  {% resource 'dfmp/css/dfmp.css' %}

{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'dfmp/js/afancybox_min.js' %}
  {% resource 'dfmp/js/zmoment_min.js' %}
  {% resource 'dfmp/js/dfmp_asset_last_items.js' %}
  {% resource 'dfmp/js/dfmp.js' %}
  {% resource 'dfmp/js/aspin_min.js' %}
  {% resource 'dfmp/js/jquery_spin.js' %}
  {% resource 'dfmp/js/asset_actions.js' %}
  {% resource 'dfmp/js/twitter_relative_time_min.js' %}
  {% resource 'dfmp/js/trunk8.js' %}
  {% if c.userobj and c.userobj.sysadmin %}
    {% resource 'dfmp/js/dfmp_removable_asset.js' %}
  {% endif %}

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  {% resource 'dfmp/js/assets_geo.js' %}

{% endblock %}