{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% resource 'dfmp/css/dfmp.css' %}
     <style>
      html, body, #map-canvas {
        height: 400px;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'dfmp/js/amoment_min.js' %}
  {% resource 'dfmp/js/dfmp_asset_last_items.js' %}
  {% resource 'dfmp/js/dfmp.js' %}
  {% resource 'dfmp/js/aspin_min.js' %}
  {% resource 'dfmp/js/jquery_spin.js' %}
  {% resource 'dfmp/js/asset_actions.js' %}
  {% resource 'dfmp/js/twitter_relative_time_min.js' %}
  {% resource 'dfmp/js/trunk8.js' %}
  {# resource 'dfmp/js/dfmp_removable_asset.js' #}

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  {% resource 'dfmp/js/assets_geo.js' %}


  <script>
  (window.onload = function(){
    $ = window.$ || window.jQuery;
    if (!$) return;
    var $head = $("iframe").contents().find("head");
    if (!$head) return;
    csss = $('link[type="text/css"]').filter(function(a,b){return $(b).attr('href').match('dfmp\.css')});
    if (!csss.length) return;
    href = $(csss[0]).attr('href');
    $head.append($("<link/>",{
      rel: "stylesheet",
      href: href,
      type: "text/css"
    }));
    $("iframe").contents().find("body").css('background','#fff');
  })()
  </script>

{% endblock %}