{% ckan_extends %}


{% block header_account_notlogged %}
<li><a href="//{{ h.ckanext_drupal7_domain() }}/user">{{ _('Log in') }}</a></li>
  <li><a href="//{{ h.ckanext_drupal7_domain() }}/user/register">{{ _('Register') }}</a></li>
{% endblock %}

{% block header_account_log_out_link %}
  <li><a href="//{{ h.ckanext_drupal7_domain() }}/user/logout" title="{{ _('Log out') }}">
    <i class="icon-signout"></i>
  </a></li>
{% endblock %}


{% block header_account_settings_link %}
{% if c.userobj.sysadmin %}
  <li>
    <a href="{{ h.url_for('solr_commit' )}}" title="{{ _('Update SOLR index') }}">
      <i class="icon-spinner"></i>
    </a>
  </li>
  <li>
    <a href="{{ h.url_for('solr_clean_index' )}}" title="{{ _('Clean SOLR index') }}">
      <i class="icon-tint"></i>
    </a>
  </li>
  <li>
    <a href="{{ h.url_for('flickr_update' )}}" title="{{ _('Update all flickr pools') }}">
      <i class="icon-camera-retro"></i>
    </a>
  </li>
{% endif %}
{# super() #}
{% endblock %}

{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(
    ('search_assets', _('Assets')),
    ('search', _('Datasets')),
    ('organizations_index', _('Organizations')),
    
    ('about', _('About'))
  ) }}
{% endblock %}

{% block header_site_search %}
  <form class="section site-search simple-input" action="{{ h.url_for('search_assets') }}" method="get">
    <div class="field">
      <label for="field-sitewide-search">{{ _('Search Assets') }}</label>
      <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search assets...') }}" />
      <button class="btn-search" type="submit"><i class="icon-search"></i></button>
    </div>
  </form>
{% endblock %}