{% import 'macros/autoform.html' as autoform %}
{% set ajax_action = h.url_for('ajax_actions') %}

{% extends "admin/base.html" %}

{% block scripts %}
  {{ super() }}
  {% resource 'dfmp/js/dfmp_fancy_lightbox.js' %}
  {% resource 'dfmp/js/dfmp_table_sorting.js' %}
  {% resource 'dfmp/js/dfmp_table_manage_flagged.js' %}
{% endblock %}

{% block primary_content_inner %}
  {% if assets %}
  <table class="table table-striped table-bordered table-condensed ">
    <thead>
      <tr>
        <th class="gallery-preview-column">Image</th>
        <th class="flags-asset-column">Asset ID</th>
        <th>Flag</th>
        <th class="dfmp-sort-column" data-module="dfmp-table-sorting" data-module-current="{{ sort }}" data-module-reverse="metadata_modified">Date flagged <i class="{{ sort_ico }}"></i></th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for asset in assets %}
      {% set thumbnail = asset.metadata.thumbnailURL or asset.metadata.thumb or asset.url %}
      {% set dataset = asset.id %}
      {% set ID = asset.assetID %}
      <tr>
        <td data-module="dfmp-fancy-lightbox" data-module-selector=".flag-preview" data-module-title="{{ asset.name }}" data-module-thumbnail="{{ thumbnail }}" class="gallery-preview-column">
          <a class="flag-preview" href="#flag-preview-{{loop.index}}"><img class="preview-smallest-image" src="{{ thumbnail }}" alt=""></a>
          <div style="display:none" class="flag-preview-wrapper"><div id="flag-preview-{{loop.index}}"><p class="asset-preview-title"><i class="icon-remove asset-preview-close" onclick="$.fancybox.close()"></i>{{ asset.name }}</p><img src="{{ asset.url }}" alt=""></div></div>
        </td>
        <td>{{ ID }}</td>
        <td>{{ asset.metadata.flag }}</td>
        <td>{{ h.dfmp_relative_time(asset.metadata_modified) }}</td>
        <td class="dfmp-manage-asset-btn">

          <div class="dropdown btn-group add-dataset-btn">
            <a class='btn' href="/gallery/item/{{dataset}}/{{ ID }}"><i class="icon-picture"></i>{{ _('View') }}</a>
            <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <a class='' href="{{ h.url_for( controller='package', action='resource_read', id=asset.get('package_id'), resource_id=asset['id']) }}"><i class="icon-dropbox"></i>{{ _('In dataset') }}</a>
                <a data-module="dfmp-manage-flagged" data-module-res="{{ dataset }}" data-module-asset="s{{ ID }}" data-module-action="hide" data-module-url="{{ ajax_action }}"><i class="icon-eye-close"></i>{{ _('Hide') }}</a>
                <a data-module="dfmp-manage-flagged" data-module-res="{{ dataset }}" data-module-asset="s{{ ID }}" data-module-action="delete" data-module-url="{{ ajax_action }}"><i class="icon-trash"></i>{{ _('Delete') }}</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
   {{ _('There are no any flagged assets') }}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('Flagged assets') }}
    </h2>
    <div class="module-content">
      {% block admin_form_help %}
      {% set about_url = h.url_for(controller='home', action='about') %}
      {% set home_url = h.url_for(controller='home', action='index') %}
      {% set docs_url = "http://docs.ckan.org/en/{0}/theming.html".format(g.ckan_doc_version) %}
      {% trans %}
        <p><strong>Info:</strong> Will be implemented</p>
      {% endtrans %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
