{% import 'macros/autoform.html' as autoform %}

{% extends "admin/base.html" %}

{% block primary_content_inner %}
  {% if listeners %}
  <table class="table table-striped table-bordered table-condensed center-aligned">
    <thead>
      <tr>
        <th>Asset</th>
        <th>Status</th>
        <th>Message</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for listener in listeners %}

      <tr>
        <td><a class='' href="{{ h.url_for( controller='package', action='resource_read', id=listener.pkg, resource_id=listener.entity_id) }}">{{ listener.name or _('Unnamed asset') }}</a></td>
        <td>
          {{ listener.state }}
          <span data-module="dfmp_relative_time">({{ listener.last_updated }})</span></td>
        <td>{{ listener.value}}</td>
        <td>
          <p>
          {% if listener.is_active %}
            <a class="" href="{{ h.url_for( 'terminate_listener', id=listener.pkg, resource_id=listener.entity_id) }}">{{ _('Terminate listener') }}</a>
          {% else %}
            <a class="" href="{{ h.url_for('getting_tweets', id=listener.pkg, resource_id=listener.entity_id) }}">{{ _('Start listening') }}</a>
          {% endif %}
        </p>
            <p><input type="button" class="" value="Last activity" data-module="asset_last_items" data-module-res="{{listener.entity_id}}" data-module-host="{{ g.site_url }}" data-module-stime="{{ now }}"></p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
   {{ _('There are no any registered listeners') }}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('CKAN Twitter listeners') }}
    </h2>
    <div class="module-content">
      {% block admin_form_help %}
      {% set about_url = h.url_for(controller='home', action='about') %}
      {% set home_url = h.url_for(controller='home', action='index') %}
      {% set docs_url = "http://docs.ckan.org/en/{0}/theming.html".format(g.ckan_doc_version) %}
      {% trans %}
        <p><strong>Error 420:</strong> Connections limit - listener should be disabled for few hours</p>
      {% endtrans %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
