{% set form_action = h.url_for('manage_assets', id=id, resource_id=resource_id  ) %}
{% extends "package/resource_edit_base.html" %}

{% block subtitle %}{{ _('Manage assets') }} - {{ h.resource_display_name(c.resource) }} - {{ h.dataset_display_name(c.pkg_dict) }}{% endblock %}

{% block form %}
{% endblock %}

{% block primary_content_inner %}
  {% if assets or hidden_assets %}
    {% if assets %}
    <table class="table table-striped table-bordered table-condensed " data-module="asset-actions" data-module-id="{{ c.resource.id }}" data-module-url="{{ action_url }}">
      <thead>
        <tr>
          <th>Link to gallery</th>
          <th>Link to resource</th>
          <th class="asset-actions">
            <i class="icon-eye-close hide-action" title="Hide"></i>
            <i class="icon-remove remove-action" title="Remove"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for asset in assets %}
        <tr>
          <td><a class='' href="/gallery/item/{{c.resource.id}}/{{asset.assetID}}">ID:{{asset._id}}: {{ asset.name }}</a></td>
          <td><a class='' href="{{ h.url_for( controller='package', action='resource_read', id=c.pkg_dict.id, resource_id=c.resource.id) }}">AssetID: {{ asset.assetID }}</a></td>
          <td>
            <input type="checkbox" class="bulk-action" value="s{{ asset.assetID }}">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% if hidden_assets %}
    <table class="table table-striped table-bordered table-condensed " data-module="asset-actions" data-module-id="{{ c.resource.id }}" data-module-url="{{ action_url }}">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image URL</th>
          <th class="asset-actions">
            <i class="icon-remove solr-remove-action" title="Remove"></i>
            <i class="icon-eye-open unhide-action" title="Show"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for asset in hidden_assets %}
        <tr>
          <td>{{asset.name}}</td>
          <td><a href="{{asset.url}}">{{asset.name}}</a></td>
          <td>
            <input type="checkbox" class="bulk-action" value="s{{ asset.assetID }}">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {{ c.page.pager() }}
  {% else %}
   {{ _('Empty datastore') }}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('Manage asset') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p><strong>Info:</strong> Here you can hide or remove separate assets</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}