{% ckan_extends %}

{% block page_primary_action %}
    {% if h.check_access('package_create') %}
      <div class="dropdown btn-group add-dataset-btn">
        <a href="{% url_for controller="package", action="new" %}" class="btn">{{ _('Add Dataset') }}</a>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>

        <ul class="dropdown-menu">
    {#      <li>#}
    {#        {{ super() }}#}
    {#      </li>#}
          <li>
                {% link_for _('Add Flickr pool'), controller='ckanext.dfmp.controller:DFMPController', action='get_flickr', class_='', icon='flickr' %}
          </li>
        </ul>
      </div>
    {% endif %}
{% endblock %}