<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="home-top-row">
        <div class="col-left">
          {% snippet 'home/snippets/search.html' %}
        </div>
        <div class="col-right">
          {% snippet 'home/snippets/stats.html' %}
        </div>
      </div>
      <div class="span12">
        {% snippet 'home/snippets/promoted.html' %}
      </div>
    </div>
  </div>
</div>
 
<div class="home-page-map">
  <div class="home-page-map-wrapper">
    {% snippet 'home/snippets/latest_assets.html' %}
  </div>
</div>

<div role="main">
  <div class="container latest-home-dfmp">
    <div class="row row2">
      <h1 class="span">{{ _('Latest datasets') }}</h1>
      <div class="span12">
        {# snippet to get latest datasets #}
      </div>
    </div>
  </div>

  <div class="container latest-home-dfmp">
    <div class="row row2">
      <h1 class="span">{{ _('Latest datasets') }}</h1>
      <div class="span12">
        {% snippet 'home/snippets/recently_added.html' %}
      </div>
    </div>
  </div>
</div>
