{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = asset.title or asset.name %}
{% set notes = h.markdown_extract(asset.notes, extract_length=truncate) %}

<li class="{{ item_class or "dataset-item" }}">
  {% block asset_item_content %}
    <div class="dataset-content">
      <h3 class="dataset-heading">
        {{ h.link_to(h.truncate(title, truncate_title), asset.gallery_link) }}
      </h3>
      {{asset}}
      {% if notes %}
        <div>{{ notes|urlize }}</div>
      {% endif %}
    </div>
  {% endblock %}
</li>
