{% ckan_extends %}

{% block resource_item_explore_links %}
{% set with_gallery, total_ds, total_solr = h.dfmp_with_gallery(res.id) %}
  {% if with_gallery %}
    <li>
      <a href="/gallery/view/{{ res.id }}">
        <i class="icon-picture"></i>
        {{ _('Gallery') }}
      </a>
    </li>
    {{ super() }}

    {% if h.is_sysadmin() %}
      <li>
        <a href="{{ g.site_url }}/api/3/action/celery_cleaning?resource={{ res.id }}" >
          <i class="icon-time"></i>
          {{ _('Check URLs') }} 
        </a>
      </li>
      <li>
        <a href="{{ g.site_url }}/api/3/action/celery_solr_indexing?resource={{ res.id }}" >
          <i class="icon-tags"></i>
          {{ _('SOLR Re-Index (%s total/ %s indexed)')|format(total_ds, total_solr) }} 
        </a>
      </li>

      
    {% endif %}

  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}